.container{
    display: inline-block;
}
.container-1{
    
    margin-left: 50px;
    margin-right: 1000px;
}
.container-4{
    display: flex;
}
.container-5{
}
.container-6{
    background-color: 2px solid aqua;
}